*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Streamlit Web App
web_app/.venv/
web_app/data/
web_app/.streamlit/
**/__pycache__/
*.pyc
*.pyo
*.pyd

